<header class="site-header">
<div class="site-header__inner">
<a aria-label="Página inicial do Let Flow 369" class="brand" href="{{BASE}}index.html">
<picture class="brand__picture">
<source srcset="{{BASE}}src/assets/images/logo-let-flow-369.avif?v=20260811-1" type="image/avif"/>
<img alt="" class="brand__logo" height="48" src="{{BASE}}src/assets/images/logo-let-flow-369.webp?v=20260811-1" width="48"/>
</picture>
<span class="brand__name">Let Flow 369</span><span class="brand__tagline">Por dentro da mente de um adulto com TDAH.</span>
</a>
<nav aria-label="Navegação principal" class="site-nav"><ul class="site-nav__list"><li><a{{CURRENT_HOME}} href="{{BASE}}index.html">Início</a></li><li><a{{CURRENT_TOPICS}} href="{{BASE}}index.html#assuntos">Assuntos</a></li><li><a{{CURRENT_TRAILS}} href="{{BASE}}trilhas.html">Trilhas</a></li><li><a{{CURRENT_EVIDENCE}} href="{{BASE}}evidencias.html">Evidências</a></li><li><a{{CURRENT_SEARCH}} href="{{BASE}}busca.html">Buscar</a></li></ul></nav>
</div>
</header>
