<!DOCTYPE html>
<html lang="{{LANG}}">
<head>
{{HEAD}}
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&amp;family=Inter:wght@500;600;700&amp;family=Marcellus&amp;family=Spectral:ital,wght@0,400;0,600;1,400&amp;display=swap" rel="stylesheet"/>

<link data-site-standard="home" href="../styles/site-standard.css?v=20260818-1" rel="stylesheet"/>
<link data-site-standard="home" href="../styles/site-standard.css?v=20260818-1" rel="stylesheet"/>
</head>
<body{{BODY_ID}}>
{{SKIP_LINK}}{{READING_PROGRESS}}
{{HEADER}}
<main id="{{MAIN_ID}}">
{{BREADCRUMBS}}
<article class="{{ARTICLE_CLASSES}}"{{ARTICLE_DATA}}>
{{HERO}}
{{PRE_LAYOUT_SECTIONS}}
{{LAYOUT}}
{{ARTICLE_FOOTER}}
</article>
{{BACK_TO_TOP}}
</main>
{{SITE_FOOTER}}
{{POST_SCRIPTS}}
</body>
</html>
